<app-loader class="loader" *ngIf="isShowLoader"></app-loader>
<div class="col mt-3 container " *ngIf="!isShowLoader"><mat-card>
    <form [formGroup]="post" (submit)="onSubmit()" >
      <mat-form-field>
        <input
          matInput
          type="text"
          formControlName="title"
          placeholder="Post Title"
          >
        <mat-error *ngIf="post.get('title')?.getError('required')">Please enter a post title.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <textarea
          matInput
          rows="4"
          formControlName="content"
          placeholder="Post Content"
          ></textarea>
        <mat-error *ngIf="post.get('content')?.getError('required')">Please enter a post title.</mat-error>
      </mat-form-field>
      <!-- <mat-form-field> -->
        <button mat-stroked-button type="button" class="file-btn" (click)="filePicker.click()">Add File</button>
        <input type="file" #filePicker (change)="onFilePicked($event)">
        <mat-error *ngIf="post.get('image')?.getError('invalidMimeType')">Invalid file type. Only images are allowed.</mat-error>
        <!-- <mat-error *ngIf="post.get('image')?.getError('fileTooLarge')"> File is too large. Maximum size is 5 MB.</mat-error> -->

        <div *ngIf="imgPreview" class="image-preview">
          <button mat-stroked-button type="button" (click)="onClrImg()">clear</button>
          <img [src]="imgPreview" alt="post.get('image').value.title">
        </div>
      <!-- </mat-form-field> -->
      <button
        mat-raised-button
        color="accent"
        type="submit">Save Post</button>
    </form>
  </mat-card>
</div>